@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik+80s+Fade&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #eaf6f6;
  font-family: "Roboto Mono", monospace;
}
.wrapper {
  min-height: calc(100vh - 50px);
  display: grid;
  width: 100%;
  grid-template-areas:
    "head head"
    "nav main";
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: 180px 1fr;
}

header {
  background: #66bfbf;
  grid-area: head;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  font-size: 2em;
}

nav {
  background: #f76b8a;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
hr {
  border: 1px black solid;
  margin: 15px 0;
}
nav li {
  font-size: 30px;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  transition: 200ms ease-in-out;
}

nav li span {
  display: flex;
  align-items: center;
  margin: 0 5px;
}
nav li:hover {
  background-color: #132743;
  color: white;
}

nav h2 {
  font-size: 2em;
  padding: 5px 5px;
}

main {
  padding: 20px 100px;
}
ul {
  list-style: none;
}
main h2 {
  text-align: center;
  font-size: 4em;
}
svg {
  transition: 200ms ease-in-out;
}
svg:hover {
  border: 1px white solid;
}

nav .addproj {
  font-size: 2em;
  font-weight: bold;
  padding: 5px 5px;
}

nav .addproj:hover {
  background-color: #66bfbf;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 2px 8px;
  background-color: darkgray;
  font-size: 20px;
}
.task-list li:last-child {
  justify-content: center;
  background-color: #f76b8a;
}
.task-list .leftDetails,
.rightDetails {
  display: flex;
  align-items: center;
}
.task-list .leftDetails span {
  padding-left: 10px;
}
.task-list .leftDetails {
  flex: 1;
}
.task-list .rightDetails {
  flex: 2;
  justify-content: right;
}
.task-list .rightDetails span,
.task-list .rightDetails img,
.task-list .rightDetails button {
  margin: 0 20px;
}
.extreme {
  border-left: 8px darkred solid;
}
.high {
  border-left: 8px solid yellow;
}
.low {
  border-left: 8px solid darkgreen;
}

#grayout {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 500ms ease-in-out;
  pointer-events: none;
}

/* Class to make it visible */
#grayout.active {
  opacity: 1;
  pointer-events: all;
}

form {
  position: fixed;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 1;
  border: 2px black solid;
  padding: 20px;
  background: linear-gradient(
    109.6deg,
    rgb(255, 221, 225) 11.2%,
    rgb(255, 255, 255) 92.2%
  );
  /* width: 1000px; */
  max-width: 80%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: 300ms ease-in-out;

  /* height: 200px; */
}
form.active {
  transform: translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
}

/* .allforms input {
  opacity: 0;
  width: 1px;
  height: 1px;
} */
.Dpriority.low {
  border: none;
  background-color: darkgreen;
  padding: 4px 20px;
  font-weight: bold;
  color: white;
}
.Dpriority.high {
  border: none;
  background-color: yellow;
  padding: 4px 20px;
  font-weight: bold;
  color: gray;
}
.Dpriority.extreme {
  border: none;
  background-color: darkred;
  padding: 4px 20px;
  font-weight: bold;
  color: white;
}

#details div {
  margin: 10px 20px;
}
.wrapper {
  min-height: calc(100vh - 50px);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #45171d;
  background-color: #f2f2f2;
  font-weight: bold;
}
footer button {
  background: none;
  margin: 0 5px;
  border: none;
  border-radius: 50%;
}
